<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Behold!</h1>
        <p>{{PingPongGenerator.result}}</p>
        <form action="/" method="get">
            <button type="submit" name="button">Play again!</button>
        </form>
    </body>
</html>
